body {
  background-color: black;
}

.Logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
}

.logo-name {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  font-style: italic;
}
.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.language-button {
  margin-right: 10px;
}

.login-button {
  margin-right: 10px;
}